@media only screen and (max-width: 500px) {
    .w-90{
        width: 90%;
        margin: auto;
    }
}
@media only screen and (max-width: 1020px) {
    .form-cont{
        width: 90%;
        margin:10px  auto;
    }

}